In [1]:
import pandas as pd
import requests
from plyer import notification
from datetime import datetime

In [2]:
url = "https://restcountries.com/v3.1/all"
response = requests.get(url)

In [3]:
if response.status_code == 200:
    data_json = response.json()
else:
    print("Erro ao acessar API")

In [5]:
paises_full = pd.DataFrame(data_json)
paises_full.head(2)

,name,tld,cca2,ccn3,cca3,independent,status,unMember,currencies,idd,...,continents,flags,coatOfArms,startOfWeek,capitalInfo,postalCode,borders,cioc,gini,fifa
0,"{'common': 'French Polynesia', 'official': 'Fr...",[.pf],PF,258,PYF,False,officially-assigned,False,"{'XPF': {'name': 'CFP franc', 'symbol': '₣'}}","{'root': '+6', 'suffixes': ['89']}",...,[Oceania],"{'png': 'https://flagcdn.com/w320/pf.png', 'sv...",{'png': 'https://mainfacts.com/media/images/co...,monday,"{'latlng': [-17.53, -149.56]}","{'format': '#####', 'regex': '^((97|98)7\d{2})$'}",NaN,NaN,NaN,NaN
1,"{'common': 'Saint Martin', 'official': 'Saint ...","[.fr, .gp]",MF,663,MAF,False,officially-assigned,False,"{'EUR': {'name': 'Euro', 'symbol': '€'}}","{'root': '+5', 'suffixes': ['90']}",...,[North America],"{'png': 'https://flagcdn.com/w320/mf.png', 'sv...",{},monday,"{'latlng': [18.07, -63.08]}",{'format': '### ###'},[SXM],NaN,NaN,NaN

In [6]:
nome        =[pais['name']['common'] for pais in data_json]
region      =[pais['region'] for pais in data_json]
population  =[pais['population'] for pais in data_json]

paises = pd.DataFrame({
    'Nome' : nome,
    'Região' : region,
    'População' : population
})
paises.head(10)

               Nome    Região  População
0  French Polynesia   Oceania     280904
1      Saint Martin  Americas      38659
2         Venezuela  Americas   28435943
3           Réunion    Africa     840974
4       El Salvador  Americas    6486201
5          Dominica  Americas      71991
6         Gibraltar    Europe      33691
7             Kenya    Africa   53771300
8            Brazil  Americas  212559409
9          Maldives      Asia     540542

In [7]:
data = str(datetime.now())


def alerta(nivel, base, etapa):
    if  nivel == 1:
        title = 'ATENÇÃO: Alerta Baixo'
        
    elif nivel == 2:
        title = 'ATENÇÃO: Alerta Médio'
     
    elif nivel == 3:
        title = 'ATENÇÃO: Alerta Alto'

    else:
        print('não disponível!')

    mgs = f"Falha no carregamento da base {base} na etapa {etapa}.\n{data}"

    notification.notify(
    title = title,
    message = mgs,
    app_name = 'VSCODE ALERT!',
    timeout = 10)

alerta(nivel = 2, base = "Cliente", etapa = "Extração")